In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 14.698 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 1.281 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 2.245 seconds
DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.25 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.142 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 1.192 seconds

In [3]:
%%hive
SHOW TABLES;

SHOW TABLES;
OK
let_by_year
tbl0
tbl1
Time taken: 0.152 seconds, Fetched: 3 row(s)

In [76]:
%%hive
SHOW TABLES;

SHOW TABLES;
OK
let_by_year
tbl0
tbl1
Time taken: 0.061 seconds, Fetched: 3 row(s)

In [12]:
%%hive
SELECT UPPER(c5[0]) from tbl0;

SELECT UPPER(c5[0]) from tbl0;
OK
A
A
B
A
D
A
A
D
B
C
Time taken: 0.297 seconds, Fetched: 10 row(s)

In [14]:
%%hive
SELECT concat_ws(':', collect_set(c5)) FROM tbl0 as t0;

SELECT concat_ws(':', collect_set(c5)) FROM tbl0 as t0;
FAILED: SemanticException [Error 10016]: Line 1:22 Argument type mismatch 'c5': Argument 2 of function CONCAT_WS must be "string or array<string>", but "array<array<char(1)>>" was found.

In [27]:
%%hive
SELECT r.result
FROM(SELECT t.c1, concat_ws(':', collect_set(UPPER(t.c5))) AS result
FROM(SELECT c1, c5
FROM tbl0 
LATERAL VIEW explode(c5) tbl0 AS c5) t
GROUP BY t.c1) r;

SELECT r.result
FROM(SELECT t.c1, concat_ws(':', collect_set(UPPER(t.c5))) AS result
FROM(SELECT c1, c5
FROM tbl0
LATERAL VIEW explode(c5) tbl0 AS c5) t
GROUP BY t.c1) r;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200306133612_ed125b59-648c-4406-b366-a0273a6f756c
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1583494662535_0018, Tracking URL = http://a72bcf2055fd:8088/proxy/application_1583494662535_0018/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1583494662535_0018
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-03-06 13:36:23,214 Stage-1 map = 0%,  reduce = 0%
2020-03-06 13:36:31,169 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 3.13 sec
2020-03-06 13:36:39,050 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 8.44 sec
MapReduce Total cumulative CPU time: 8 seconds 440 msec
Ended Job = job_1583494662535_0018
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 8.44 sec   HDFS Read: 13048 HDFS Write: 275 SUCCESS
Total MapReduce CPU Time Spent: 8 seconds 440 msec
OK
A:E:C:D
A:C
B:D
A:C:E:B:D
D:E:C
A:D
A:E:D
D:A:C:E
B:A:C:E
C:D:E:A:B
Time taken: 27.828 seconds, Fetched: 10 row(s)

In [28]:
%hive_quit