In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 17.351 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 1.385 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 1.947 seconds
DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.23 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.098 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 1.141 seconds

In [73]:
%%hive
SELECT t.* 
FROM (SELECT YEAR(c4),explode(c5) FROM tbl0) t;

SELECT t.*
FROM (SELECT YEAR(c4),explode(c5) FROM tbl0) t;
FAILED: SemanticException [Error 10081]: UDTF's are not supported outside the SELECT clause, nor nested in expressions

In [58]:
%%hive
SHOW TABLES;

SHOW TABLES;
OK
tbl0
tbl1
Time taken: 0.065 seconds, Fetched: 2 row(s)

In [66]:
%%hive
SELECT DISTINCT t.* 
FROM (SELECT c4,explode(c5) FROM tbl0) t;

SELECT DISTINCT t.*
FROM (SELECT c4,explode(c5) FROM tbl0) t;
FAILED: SemanticException [Error 10081]: UDTF's are not supported outside the SELECT clause, nor nested in expressions

In [76]:
%%hive
SHOW TABLES;

SHOW TABLES;
OK
let_by_year
tbl0
tbl1
Time taken: 0.061 seconds, Fetched: 3 row(s)

In [81]:
%%hive
SELECT explode(c5) from tbl0;

SELECT c4,explode(c5) from tbl0;
FAILED: SemanticException [Error 10081]: UDTF's are not supported outside the SELECT clause, nor nested in expressions

In [2]:
%%hive
SELECT t.c2, SUM(t.c1)
FROM (SELECT c2, c1
FROM tbl0) t
GROUP BY t.c2;

SELECT t.c2, SUM(t.c1)
FROM (SELECT c2, c1
FROM tbl0) t
GROUP BY t.c2;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200306135330_5e680d27-e370-46b6-918a-5dea11959328
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1583494662535_0020, Tracking URL = http://a72bcf2055fd:8088/proxy/application_1583494662535_0020/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1583494662535_0020
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-03-06 13:54:08,459 Stage-1 map = 0%,  reduce = 0%
2020-03-06 13:54:15,573 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.57 sec
2020-03-06 13:54:22,565 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 5.99 sec
MapReduce Total cumulative CPU time: 5 seconds 990 msec
Ended Job = job_1583494662535_0020
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 5.99 sec   HDFS Read: 9960 HDFS Write: 153 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 990 msec
OK
A	6
B	26
C	15
D	8
Time taken: 54.828 seconds, Fetched: 4 row(s)

In [6]:
%%hive
SELECT t.c2, SUM(t.v) AS result
FROM(SELECT c2, v
FROM tbl0 
LATERAL VIEW explode(c6) tbl0 AS k,v) t
GROUP BY t.c2;

SELECT t.c2, SUM(t.v) AS result
FROM(SELECT c2, v
FROM tbl0
LATERAL VIEW explode(c6) tbl0 AS k,v) t
GROUP BY t.c2;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200306140237_ab59b330-5500-4930-a29e-29c2c9529eef
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1583494662535_0022, Tracking URL = http://a72bcf2055fd:8088/proxy/application_1583494662535_0022/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1583494662535_0022
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-03-06 14:02:46,641 Stage-1 map = 0%,  reduce = 0%
2020-03-06 14:02:53,531 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.89 sec
2020-03-06 14:03:01,421 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 5.98 sec
MapReduce Total cumulative CPU time: 5 seconds 980 msec
Ended Job = job_1583494662535_0022
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 5.98 sec   HDFS Read: 12563 HDFS Write: 158 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 980 msec
OK
A	20
B	200
C	130
D	220
Time taken: 25.145 seconds, Fetched: 4 row(s)